* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

/* navbar begins */
.Product-navbar {
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

ul {
    display: flex;
    gap: 2rem;
}